h1 {
	color: blue;
	font-size: 36px;
}
#red {
	color: red;
	text-align: center;
}

.blue {
	text-align: left;
	color: blue;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}