<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Clear All</title>
	<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
	<h3>This will delete all entries in the address book. This cannot be undone. Are you sure?</h3>

	<a th:href="@{/addresses/clearAll}">
		<button class="btn btn-danger">Clear All</button>
	</a>
	<a th:href="@{/}">
		<button class="btn btn-success">Home</button>
	</a>

</div>


<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>