<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit Address</title>
	<link href="../../webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../address/style/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
	<form action="#" th:action="@{/addresses/update/{id}(id=${address.id})}" th:object="${address}" method="post">

		<div th:replace="fragments/form :: form"></div>

	</form>

</div>


<script src="../../webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
<script src="../../jquery/1.9.1/jquery.min.js"></script>
</body>

</html>