<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Address Book</title>
	<link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="address/style/style.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

	<div th:replace="fragments/display :: display"></div>

	<a th:href="@{/addresses/new}" class="btn-anchor">
		<button class="btn btn-primary">New</button>
	</a>
	<a th:href="@{/addresses/clear}" class="btn-anchor">
		<button class="btn btn-danger">Clear</button>
	</a>

</div>


<script src="webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>