<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Address Book</title>
	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/standard.css" rel="stylesheet">
</head>
<body>

<div class="container">
	<h1>Address Book</h1>

	<div class="row">
		<div th:each="address:${entries}">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<p th:text="${address.fullName}"/>
					</div>
					<div class="panel-body">
						<p th:text="${address.phoneNumber}"/>
						<p th:text="${address.emailAddress}"/>
						<p th:text="${address.comment}"/>
					</div>
					<div class="panel-footer">
							<a href="#" th:href="@{/addresses/{id}(id=${address.id})}">
								<button class="btn btn-success">Edit</button>
							</a>
							<a href="#" th:href="@{/addresses/delete/{id}(id=${address.id})}">
								<button class="btn btn-danger" type="submit">Delete</button>
							</a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<a th:href="@{/addresses/new}">
		<button class="btn btn-primary">New</button>
	</a>
	<a th:href="@{/addresses/clear}">
		<button class="btn btn-danger">Clear</button>
	</a>

</div>


<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>