form{
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    margin-right: 8px;
}

select:focus{
    z-index:100;
}

.col-sm-4{
    padding: 10px;
}

.btn-anchor{
    text-decoration: none;
}

#field{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 160px;
}

#query{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}